body {
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  align-items: center;
  background-color: #708090;
}

main {
  max-width: 800px;
  margin: 30px;
}

/* TEXT DESIGN */

h1 {
  font-size: 50px;
  font-weight: 1000;
}

h2 {
  font-size: 30px;
  font-weight: 400;
}

h3 {
  font-size: 25px;
  font-weight: 400;
}

p {
  font-size: 18px;
}

ul {
  font-size: 18px;
}

/* INPUT EDIT */

input {
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  border-radius: 10px;
}

/* SEARCH FIELD */
input[type="text"] {
  width: 60%;
}

/* SEARCH BUTTON */
input[type="submit"] {
  background-color: white;
}

select {
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border-width: 1px;
  border-color: black;
  border-radius: 10px;
}

.searchbox {
  margin-top: 100px;
  margin-bottom: 50px;
}

.uploadbox {
  margin-top: 100px;
}
